name: Publish to JSR
run-name: Publishing ${{ github.ref_name }} to JSR

on:
  push:
    tags:
      - v*.*.*

jobs:
  publish:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Run tests
        run: deno task test

      - name: Publish to JSR
        run: deno task publish
